*{
  margin: 0;
}
.App{
  background-color: #fafafa;
}
.app__header{
  z-index: 1;
  position: sticky;
  top:0;
  padding:20px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app__headerImage{
  object-fit: contain;
}
.app__posts{
  padding:20px;
  display: flex;
  
  justify-content: center;
}
.app__signup{
  display: flex;
  flex-direction: column;
  
}